<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaowo.goods.basic.mapper.write.IBizTypeWriteMapper">

    <!-- 新增页态 -->
    <insert id="insertBizType" parameterType="BizTypePojo">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO goods_biz_type (
        biz_name,
        state,
        update_time,
        create_time
        )
        VALUES
        (
        #{bizName},
        #{state},
        #{updateTime},
        #{createTime}
        )
    </insert>

    <!-- 更新业态-->
    <update id="updateBizType" parameterType="BizTypePojo">
        UPDATE goods_biz_type
        <set>
            <if test="bizName!=null and bizName!=''">
                biz_name=#{bizName}
            </if>
            <if test="updateTime!=null">
                ,update_time=#{updateTime}
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <!-- 更新业态状态-->
    <update id="updateBizTypeState">
        UPDATE goods_biz_type
        SET state=#{state}
        WHERE id=#{id}
    </update>

</mapper>
