<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaowo.goods.basic.mapper.read.IBizTypeReadMapper">

    <resultMap id="bizTypeResultMap" type="com.xiaowo.goods.basicapi.biztype.pojo.BizTypePojo">
        <id property="id" column="id"/>
        <result property="bizName" column="biz_name"/>
        <result property="state" column="state"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="getBizTypeListByPid" resultMap="bizTypeResultMap">
        SELECT
        id,
        biz_name,
        state,
        update_time,
        create_time
        FROM
        goods_biz_type
        WHERE
        state=#{state}
        ORDER BY id ASC
    </select>

    <select id="getBizTypeById" resultMap="bizTypeResultMap">
        SELECT
        id,
        biz_name,
        state,
        update_time,
        create_time
        FROM
        goods_biz_type
        WHERE
        id=#{id}
        ORDER BY id ASC
    </select>

    <select id="getBizTypeByCategoryId" resultMap="bizTypeResultMap">
        SELECT
        b.id,
        b.biz_name,
        FROM
        goods_biz_type b INNER JOIN goods_category c ON b.id = c.biz_id
        WHERE
        c.id=#{categoryId}
        ORDER BY id ASC
    </select>
</mapper>
